* {
    margin: 0px;
    font-family:  system-ui;;
}

.container {
    height: 2000px;
    width: 100%;
    background-color: rgb(123, 25, 215);
}

/* HEADER SECTION */

.header{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.22)), url("../images/banner_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.top_header {
    height: 100px;
    width: 100%;
    background-color:#00c7fc; 
    /* opacity: 0.66;   */
    /* background-attachment: fixed; */
}


.top_header img {
    font-size: 50px;
    float: left;
    padding: 25px;
    margin-left: 55px;
}

/* NAVBAR SECTION */

.nav {
    height: 98px;
    width: 73%;
    float: right;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    padding: 39px 0px;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 15px;
}

.nav ul li:hover {
    background-color: #99c1cc;
}



.nav ul li a{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 38px 25px;
    text-decoration: none;
}

.nav ul li a:hover {
    color: black;
    text-decoration: none;
}

/* HEADER CONTANT */

.header_content {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    color: white;
    margin-top: 60px;
}

.p1 {
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    color: #00c7fc;

}

.p2 {
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
}

.p3 {
    font-size: 28px;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

/* MAIN CONTENT SECTION */

.main_content {
    height: 120px;
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0px;
}


.main_content P {
    text-align: center;
    font-size: 30px;
    color: #514a4a;
    font-family: 'Open Sans', sans-serif;
}


.courses {
    height: 98px;
    width: 60%;
    margin:auto;
}

.courses ul {
    list-style-type: none;
}

.courses ul li {
    padding: 39px 0px;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 15px;
    margin: 2px;
}

.courses ul li a {
    padding: 10px 18px;
    text-decoration: none;
    /* background-color: #00c7fc; */
    color: black;
}

.courses ul li a:hover {
    background-color: #00c7fc;
    color:white;
}


/* COURSES IMAGES */

.img_div {
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid black; */
}

.img_div img {
    height: 200px;
    width: 24%;
    margin-left: 9px;
    opacity: 0.8;
}

/* HIGHLIGHTS SECTION */

.highlight {
    height: 540px;
    width: 100%;
    background-color:rgb(34, 33, 33) ;
}


.highlight_box {
    padding: 30px 100px;
    float: right;   
    background-color: #096c89;
    color: white;
    margin-top:80px;
}

.highlight_box p {
    font-size: 25px;
    margin-left: 20px 10px;
    padding-bottom: 20px;
}

.highlight_box ul li {
    margin-left: 10px;
}


.highlight_box ul li img {
    height: 20px;
    width: 20px;
    margin-right: 18px;
}

/* ABOUT SECTION  */

.about_content {
    height: 120px;
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0px;
}


.heading_about {
    text-align: center;
    font-size: 30px;
    color: #514a4a;
    font-family: 'Open Sans', sans-serif;
}

.about {
    width: 89%;
    text-align: center;
    font-size: 15px;
    color: #6f6666;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 10px;
}

/* UPCOMING CLASSES */

.class_banner{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(TO right,rgba(0, 0, 0, 0.8)), url("/images/banner_for courses.avif");
}

.Upcoming_class {
    height:180px;
    width: 92%;
    background-color:#096c89;
    margin: auto auto;
    margin-top: 20px;
}

.class_col_01 {
    height: 140px;
    width: 250px;
    padding: 10px 0px;
    color: white;
    float: left; 
    margin-left: 8px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

.courses_name {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}


.class_col_01 p {
    margin-top: 8px;
    font-size: 29px;
}


/* TESTIMONIALS AND FACEBOOK SECTION */

.testmonial_facebook_con {
    height: 600PX;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* TESTIMONIALS SECTION */





/* FACEBOOK SECTION */
.facebook {
    height: 400px;
    width: 300px;
    float: right;
    margin: 50px 150px 0px 0px;
}


/* BOTTOM QUOTES SECTION */

.quotes_div {
    padding: 80px;
    background-color: rgb(34, 33, 33);
    text-align: center;
}

.quotes {
    color: #00c7fc;
    font-size: 35px;
    font-weight: 600;
}

.demo {
    color: white;
    font-size: 14px;
}

/* CONTACT US */

.form_container {
    height: 680px;
    width: 100%;
    padding-top: 80px;
    background-color: rgb(255, 255, 255);
}


.contact_us {
    text-align: center;
    font-size: 30px;
    color: #514a4a;
    padding-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

/* FORM */


.form_container form {
    height: auto;
    /* width:65%; */
    float: left;
    margin-left: 60px;
    /* background-color: rgb(208, 143, 234); */
}

.form_container form input, textarea {
    height:40px;
    width: 700px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
}

.form_container form textarea {
    height: 150px;
}

.form_container form button {
    /* height: 50px;
    width: 200px; */
    padding: 20px 50px;
    background-color: #00c7fc;
    color: white;
    border: none;
    float: right;
}

.form_container form button:hover {
    color: black;
}

/* ADDRESS */

.address{
    height: 400px;
    width: 35%;
    /* padding: 50px; */
    float: right;
    /* background-color: rgb(106, 153, 219); */
}

.address h6 {
    font-size: 15px;
}

.address p {
    width: 360px;
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    float: left;

}