* {
    margin: 0px;
    padding: 0px;
    font-family:  system-ui;
}


.container {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* HEADER SECTION */

/* .header{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.22)), url("../images/banner_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
} */

.top_header {
    height: 100px;
    width: 100%;
    background-color:#00c7fc; 
    position: sticky;
    top: 0px;
    /* opacity: 0.66;   */
    /* background-attachment: fixed; */
}



.top_header img {
    font-size: 50px;
    float: left;
    padding: 25px;
    margin-left: 55px;
}

/* NAVBAR SECTION */

.nav {
    height: 98px;
    width: 73%;
    float: right;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    padding: 39px 0px;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 15px;
}

.nav ul li:hover {
    background-color: #99c1cc;
}



.nav ul li a{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 38px 25px;
    text-decoration: none;
}

.nav ul li a:hover {
    color: black;
    text-decoration: none;
}


/* BANNER SECTION */

.banner {
    height: 370px;
    width: 100%;
    /* background-color: blueviolet; */
    /* border: 6px solid black; */
    background-image: linear-gradient(to right,rgba(84, 138, 204, 0.8)), url("../images/blog_banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}


.banner p {
    width: 680px;
    text-align: center;
    color: white;
    margin: auto;
    padding-top: 40px;
}



/* CONTENT SECTION  */


.content {
    height: 900px;
    width: 100%;
    padding-top: 90px;
}

/* LEFT CONTENT */


.left_con {
    height: auto;
    width: 70%;
    /* background-color: rgb(220, 156, 156); */
    float: left;
}


.left_01 {
    height: 530px;
    width: 85%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    /* border: 2px solid gray; */
    padding-top: 25px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left_01:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.heading {
    font-size: 28px;
    color: #4a88c2;
    /* margin: 780px 0px 0px 30px;
    padding-top: 40px; */
    /* margin-top: 20px; */
    margin-left: 60px;
}

.heading:hover {
    color: black;
}

.left_01 a {
    text-decoration: none;
}

.mid_cont {
    height: 100px;
    width: 669px;
    margin-left: 40px;
    margin-top: 50px;
    text-align: justify;
    /* padding-top: 6px; */
    /* background-color: rgb(208, 186, 228); */
}



.left_01 button {
    margin-top: 40px;
    margin-left: 390px;
    padding: 10px; 
    background-color: #4a88c2;
    color: #ffffff; 
    font-size: 14px;
    border: 2px solid #4a88c2;
}


.left_01 button:hover {
    background-color: white;
    color: #4a88c2;
}


.left_02 {
    height: 750px;
    width: 85%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    /* border: 2px solid gray; */
    padding-top: 25px;
    border-radius: 2px;
}


/* RIGHT CONTENT */



.right_con {
    height: auto;
    width: 30%;
    background-color: rgb(139, 221, 210);
    float: left;
}

.right_01 {
    height: 400px;
    width: 75%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    /* border: 2px solid gray; */
    /* padding-top: 25px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right_01 p {
    background-color: #4a88c2;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.right_01 img {
    height: 80px;
    width: 80px;
    border: 5px solid white;
    border-radius: 50%;
   margin: 30px 0px 0px 100px;
}


.right_01 h4 {
    width: 100px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}


 .right_01 h6{
    /* height: 80px; */
    width: 210px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    /* background-color: #00c7fc; */
}


.right_02 {
    height: 200px;
    width: 75%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    /* border: 2px solid gray; */
    /* padding-top: 25px; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.right_01 select {
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid black;
}
